/* Set Your Own Margin & Padding */
body{
	margin: 15px 0;
	background: url("../img/cartographer.png");
}

h1, h2, h3, p {
	margin: 20px;
}

h1{
	font-family: 'Miss Fajardose', cursive;
	font-size: 4.5em;
}

h2{
	font-family: 'Cinzel', serif;
	font-size: 2.5em;
}

h3{
	font-family: 'Rufina', serif;
	font-size: 1.5em;
}
/* Layout for Style Tile*/
section {
	margin: 50px 20px;
	text-align: center;
}

p{
	text-align: left;
	font-family: 'Alegreya', serif;
}

a{
	text-decoration:none;
}

.persona{
	height: 750px;
	border-radius: 10px;
}

.logo{
	margin-left: 6em;
}

.green{
	color: rgb(119,229,62);
}

.red{
	color: #a10022;
}

.blue{
	color: #1693A5;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 7px solid rgb(206,208,209);
	display: inline-block;
	margin: 10px;
	height: 100px;
	width: 100px;
}

.pattern-1{
	background: url("../img/purty_wood.png");
}

.pattern-2{
	background: url("../img/cartographer.png");
}

.pattern-3{
	background: url("../img/green_dust_scratch.png");
}

.color-1{
	background: #a10022;
}

.color-2{
	background: #1693A5;
}

.color-3{
	background: rgb(89,88,90);
}

.color-4{
	background: #2DD00B;
}

.color-5{
	background: rgb(119,229,62);
}

.content{
	background: #fff;
	padding: 15px;
	border-radius: 15px;
}

.inset{
	box-shadow: 2px 2px 1em #000 inset;
}

#link,
#visited{
	display:inline-block;
	border:1px solid #a10022;
	margin: 0 1em;
	padding: .5em 1.5em;
}

#link a{
	color:#1693A5;
}

#visited a{
	color:rgb(119,229,62);
}